Repository Altinn/altinn-storage, pull requests merged in 2024-05, with the labels that each got.

#394 Improve readability for SHA256 hashing method
  src/Storage/Services/DataService.cs
  test/UnitTest/TestingServices/DataServiceTests.cs
Labels: quality/debt

#384 Add pay action
  src/Storage/Controllers/ProcessController.cs
Labels: area/process

#404 Add task reference to signatures [part 2/2]
  src/Storage/Altinn.Platform.Storage.csproj
  src/Storage/Services/InstanceService.cs
Labels: kind/feature-request

#408 Changed semantics for instance search filter searchString
  src/Storage/Controllers/MessageboxInstancesController.cs
  src/Storage/Migration/FunctionsAndProcedures/readinstancefromquery.sql
  src/Storage/Migration/v0.08/01-functions-and-procedures.sql
  src/Storage/Migration/v0.08/02-drop-functions.sql
  src/Storage/Repository/PgInstanceRepository.cs
  test/UnitTest/TestingControllers/MessageboxInstancesControllerTests.cs
  test/UnitTest/TestingRepositories/InstanceTests.cs
Labels: area/message-box, area/search, area/data-storage

#412 Changed search from msgbox to use new parameter msgBoxInterval to be …
  src/Storage/Controllers/MessageboxInstancesController.cs
  src/Storage/Migration/FunctionsAndProcedures/readinstancefromquery.sql
  src/Storage/Migration/v0.09/01-functions-and-procedures.sql
  src/Storage/Migration/v0.09/02-drop-functions.sql
  src/Storage/Repository/PgInstanceRepository.cs
  test/UnitTest/TestingRepositories/InstanceTests.cs
Labels: area/message-box

#414 Fix `AbandonCurrentMoveToNext` authentication error for signature rejection
  src/Storage/Controllers/ProcessController.cs
Labels: kind/bug, area/process
